{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Expiration Date Homepage</h3>
        </div>
        <div class="panel-body">
            iLorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            venenatis eget est et finibus. Nullam rhoncus tempus diam, vel
            pharetra libero laoreet nec. Phasellus viverra, ex vitae convallis
            dignissim, ipsum est aliquam tortor, sed volutpat mauris libero sit
            amet lectus. Aliquam interdum sem ut lobortis vulputate. Donec
            ullamcorper nec neque quis facilisis. In a tempus dolor, et euismod
            dui. Aenean condimentum ornare dui, et egestas odio pulvinar in.
            Fusce luctus urna sit amet purus dapibus, sed malesuada quam
            sagittis. Donec ornare lobortis nunc. Donec quis quam ut augue
            eleifend fringilla pulvinar in erat. In tempus odio at sapien
            aliquam volutpat. Fusce rutrum orci vitae magna scelerisque, eu
            consectetur ante fringilla. Curabitur mollis turpis id cursus
            pellentesque. In ornare diam ac quam ultrices, vel luctus risus
            feugiat. Sed sed dolor imperdiet metus ultrices euismod.
        </div>
    </div>
{% endblock content %}
