{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Expiration Date Homepage</h3>
        </div>
        <div class="panel-body">
            <p>In vederea necesităţii ţinerii evidenţelor pentru locurile de
                veci a municipiului Cluj-Napoca intr-un format electronic,
                echipa Styx vă oferă o nouă inovaţie in stocarea si manipularea
                datelor permiţînd transferul din format fizic in electronic a
                datelor legate de locurile de veci astfel usurînd(imbunătăţind)
                acest proces  </p>
        </div>
    </div>
{% endblock content %}
